{% load static %}
<style>
    .logo-imgs{
        box-shadow: 10px;
        padding: 5px;
    }
</style>
<div class=" logo-imgs ">
    <div class="row">
        <div class="col-sm-4">
            <img src="{% static 'accenture.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-4">
                <img src="{% static 'ibm-logo-2.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-4">
                <img src="{% static 'infosys.png' %}" width="100" id="img-companys" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
                <img src="{% static 'invesco.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-4">
                <img src="{% static 'wipro.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-4">
                <img src="{% static 'dxc.png' %}" width="100" id="img-companys" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
                <img src="{% static 'bank-of america.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-4">
                <img src="{% static 'dell.png' %}" width="100" id="img-companys" >
        </div>
        <div class="col-sm-4">
                <img src="{% static 'walmart.png' %}" width="100" id="img-companys" >
        </div>
    </div>
    <div class="row">
            <div class="col-sm-4">
                    <img src="{% static 'amazon.png' %}" width="100" id="img-companys" >
            </div>
            <div class="col-sm-4">
                    <img src="{% static 'state-grid.png' %}" width="100" id="img-companys" >
            </div>
            <div class="col-sm-4">
                    <img src="{% static 'soudi-aramco.png' %}" width="100" id="img-companys" >
            </div>
        </div>
        <div class="row">
                <div class="col-sm-4">
                        <img src="{% static 'jpmorgan.png' %}" width="100" id="img-companys" >
                </div>
                <div class="col-sm-4">
                        <img src="{% static 'mckesson.png' %}" width="100" id="img-companys" >
                </div>
                <div class="col-sm-4">
                        <img src="{% static 'amde-in-america.png' %}" width="100" id="img-companys" >
                </div>
            </div>
</div>
<style>

</style>

